@import "../../Variables/Variables.scss";
@import "../../Variables//device.scss";

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  color: $Primary;
  & > * {
    margin: 1rem 0;
  }
  h1{
    font-family: $Sail;
    span {
      font-family: ComfortaaSB;
      color: $Secondary;
    }
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
  .product {
    position: relative;
    color: $Primary;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 19rem;
    box-shadow: rgba(100, 100, 100, 0.1) 0px 2px 5px, rgba(100, 100, 100, 0.1) 0px 2px 5px, rgba(100, 100, 100, 0.1) 0px 4px 10px;
    & > * {
      margin: 0.5rem 0;
    }
    &:hover {
      transform: scale(1.05);
      transition: 330ms ease-in-out ;
    }
    &:hover h2 {
      display: none;
    }
    &:hover h3 {
      display: none;
    }
    &:hover p {
      display: none;
    }
    &:hover .image > img {
      opacity: 0.5;
    }
    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-family: $LinksFont;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    .image {
      max-height: 15rem;
      justify-content: center;
      align-content: center;
      img {
        // width: 50%;
        // height: 100%;
        object-fit: cover;
        height: 10rem;
        width: 80%;
        object-fit:contain;
      }
      .image__overlay {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #CF7878BF;
        color: white;
        font-family: $LinksFont;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        & > * {
          margin: 0.5rem 0;
        }
        .image__title {
          font-size: 2rem;
        }
        .image__description {
          font-size: 1.25rem;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.search-bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 15rem;
  margin-bottom: 3rem;
  padding: 0.4rem;
  background: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 100, 0.1) 0px 2px 5px, rgba(100, 100, 100, 0.1) 0px 4px 10px, rgba(100, 100, 100, 0.1) 0px 8px 10px;
  .search__widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
   input {
    color: $Primary;
    font-family: $LinksFont;
    font-weight: 600;
    border : none;
    background: rgb(250, 250, 250);
    &:focus{
      outline: none;
      background: rgb(250, 250, 250);
    }
  }
  }
}

.menu .category {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    img {
      width: 3rem;
      height: 3rem;
    }
    span {
      font-family: $LinksFont;
      font-size: 1rem;
    }
  }
  & > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.menu p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.order-btn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-top: 2.5rem;
  width: 240px;
  padding: 40px;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  transform: translateY(-50%);
  box-shadow: 0 10px 10px -5px #15151565;
  overflow: hidden;
}

.order-btn:before,
.order-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.order-btn:before {
  transform: scale(1);
  background-color: $Secondary;
  background-size: cover;
  transition: 0.3s ease transform;
  z-index: 1;
}

.order-btn:after {
  background-color: #000;
  opacity: 0.16;
  z-index: 2;
}

.order-btn div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.order-btn div:before,
.order-btn div:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 25px;
  font-family: $Button, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 30px 0;
  transition: 0.3s ease all;
}

.order-btn div:before {
  content: "CALL TO ORDER";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}

.order-btn div:after {
  content: "Click to copy \A +0001 4548 6457";
  white-space: pre;
  font-size: 20px;
  padding: 20px 0;
  letter-spacing: -1px;
  transform: scale(0);
  opacity: 0;
}

.order-btn:hover:before {
  transform: scale(1.3);
}

.order-btn:hover div:before {
  letter-spacing: 0px;
  opacity: 0;
  transform: scale(4);
}

.order-btn:hover div:after {
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}

@media only screen and (min-width: $tablet) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: $desktop) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: $large-desktop) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}