//Colors
$Primary: #4D2222;
$Secondary : #CF7878;
$Tertiary : #B49C9C;
$DarkGrey: #626262;
$LighterGrey: #8A7E7E;

//Font styles
$LinksFont : ComfortaaSB, Arial;
$Button : ComfortaaSB, Arial;
$Sail : Sail, Arial;

//Font sizes mobile

$h1 : 2.5rem;
$h2 : 1.4rem;
$h3 : 1.1rem;
$p: 1rem;

