* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  margin : 0 5vw;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
footer{
  margin: 0 5vw;
}

.footer {
  margin: 0 5vw;
}

section:first-of-type {
  margin: 0;
}

h1 {
  font-family: ComfortaaSB, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: ComfortaaR, Arial, Helvetica, sans-serif;
}

h3 {
  font-family: ComfortaaR, Arial, Helvetica, sans-serif;
}

p {
  font-family: ComfortaaL, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.admin__buttons {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  width: max-content;
  height: max-content;
  padding:0.1rem 0.4rem;
  color: white;
  background-color:#CF7878;
}

.admin__buttons:hover {
  transition: 0.3s ease;
  color: white;
  background-color: #4D2222;
}



